html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.sidebar-menu {
    height: 100%;
    width: 360px;
    position: relative;
}

#map {
    height: 100%;
    position: absolute;
    left: 360px;
    right: 0px;
    bottom: 0px;
}

.search-input {
    width: 225px;
    height: 28px;
    text-align: center;
    margin-top: 24px;
    margin-left: 16px;
    font-size: 18px;
}