* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.content {
    height: 100%;
    background-color: black;
}

.locations-container {
    height: 100%;
    width: 320px;
    position: relative;
}

#map {
    height: 100%;
    position: absolute;
    left: 320px;
    right: 0px;
    bottom: 0px;
}

h1 {
    color: white;
    margin: auto;
    padding: 30px 15px;
    font-size: 28px;
}

.search-input {
    width: 225px;
    height: 28px;
    text-align: center;
    font-size: 18px;
    margin-left: 20px;
}

.places-list {
    font-size: 16px;
    color: white;
    margin-left: 25px;
    margin-top: 20px;
}